In [10]:
token = '---'

In [3]:
import requests
import pandas as pd
import re
import numpy as np
import time
import math

In [31]:
#url = 'https://oauth.vk.com/authorize?client_id=5440699&display=page&redirect_uri=vk.com/callback&response_type=token&v=5.80'
#responde = requests.get(url)

In [32]:
#responde.content

# Download list of ids

In [204]:
# groups list
groups_pop = ['https://vk.com/nataliaoreiro' ,'https://vk.com/shakira', 
       'https://vk.com/enrique', 'https://vk.com/inna_ro', 'https://vk.com/krosskarina']

groups_rock = ['https://vk.com/linkinpark', 'https://vk.com/nervyofficial',
 'https://vk.com/korol_i_shut_ru', 'https://vk.com/nirvanamusic', 'https://vk.com/idragons']

groups_rap = ['https://vk.com/maxkorzh', 'https://vk.com/sayonaraboy',
 'https://vk.com/scriptonite', 'https://vk.com/hauntedfamily', 'https://vk.com/egorkreed']

groups_electro = ['https://vk.com/martingarrix', 'https://vk.com/arminvanbuuren',
 'https://vk.com/tiesto', 'https://vk.com/hardwell', 'https://vk.com/davidguetta']

In [205]:
groups_pop = [x.replace('https://vk.com/', '') for x in groups_pop]
groups_rock = [x.replace('https://vk.com/', '') for x in groups_rock]
groups_rap = [x.replace('https://vk.com/', '') for x in groups_rap]
groups_electro = [x.replace('https://vk.com/', '') for x in groups_electro]
groups_pop, groups_rock, groups_rap, groups_electro

(['nataliaoreiro', 'shakira', 'enrique', 'inna_ro', 'krosskarina'],
 ['linkinpark',
  'nervyofficial',
  'korol_i_shut_ru',
  'nirvanamusic',
  'idragons'],
 ['maxkorzh', 'sayonaraboy', 'scriptonite', 'hauntedfamily', 'egorkreed'],
 ['martingarrix', 'arminvanbuuren', 'tiesto', 'hardwell', 'davidguetta'])

# testing pipeline with groups_pop[0]

In [50]:
url = 'https://api.vk.com/method/groups.getMembers?group_id={}&offset={}&access_token={}&v=5.81'

new_items = 1
offset = 0
ids = set()

while new_items:
    #print(url.format('asbspb', offset, token))
    items_list = requests.get(url.format(groups_pop[0], offset, token)).json()['response']['items']
    if items_list:
        #print(items_list, type(items_list))
        ids = ids | set(items_list)
        offset += 1000
    else:
        new_items = 0
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[0])

100000 for nataliaoreiro
200000 for nataliaoreiro
300000 for nataliaoreiro
400000 for nataliaoreiro
500000 for nataliaoreiro
600000 for nataliaoreiro
700000 for nataliaoreiro
800000 for nataliaoreiro
900000 for nataliaoreiro
1000000 for nataliaoreiro
1100000 for nataliaoreiro
1200000 for nataliaoreiro
1300000 for nataliaoreiro
1400000 for nataliaoreiro
1500000 for nataliaoreiro

In [53]:
dict_ids = dict()
len(ids)

1532923

In [67]:
dict_ids[groups_pop[0]] = list(ids)

In [5]:
import json

In [69]:
a_file = open("data.json", "w")
json.dump(dict_ids, a_file)
a_file.close()

donwloading the rest of ids

In [73]:
url = 'https://api.vk.com/method/groups.getMembers?group_id={}&offset={}&access_token={}&v=5.81'

for group_pop in groups_pop[1:]:
    new_items = 1
    offset = 0
    ids = set()

    while new_items:
        #print(url.format('asbspb', offset, token))
        items_list = requests.get(url.format(group_pop, offset, token)).json()['response']['items']
        if items_list:
            #print(items_list, type(items_list))
            ids = ids | set(items_list)
            offset += 1000
        else:
            new_items = 0
        if offset%3000 == 0:
            time.sleep(1)
        if offset%100000 == 0:
            print(offset, 'for', group_pop)
    
    dict_ids[group_pop] = list(ids)

a_file = open("data_pop.json", "w")
json.dump(dict_ids, a_file)
a_file.close()

100000 for shakira
200000 for shakira
300000 for shakira
400000 for shakira
500000 for shakira
600000 for shakira
700000 for shakira
800000 for shakira
900000 for shakira
1000000 for shakira
100000 for enrique
200000 for enrique
300000 for enrique
400000 for enrique
500000 for enrique
600000 for enrique
700000 for enrique
100000 for inna_ro
200000 for inna_ro
300000 for inna_ro
400000 for inna_ro
500000 for inna_ro
100000 for krosskarina
200000 for krosskarina
300000 for krosskarina
400000 for krosskarina

In [88]:
groups_rock[4:]

['idragons']

In [89]:
url = 'https://api.vk.com/method/groups.getMembers?group_id={}&offset={}&access_token={}&v=5.81'

for group in groups_rock:
    new_items = 1
    offset = 0
    ids = set()

    while new_items:
        #print(url.format('asbspb', offset, token))
        items_list = requests.get(url.format(group, offset, token)).json()['response']['items']
        if items_list:
            #print(items_list, type(items_list))
            ids = ids | set(items_list)
            offset += 1000
        else:
            new_items = 0
        if offset%3000 == 0:
            time.sleep(1)
        if offset%100000 == 0:
            print(offset, 'for', group)
    
    dict_ids[group] = list(ids)

a_file = open("data_rock.json", "w")
json.dump(dict_ids, a_file)
a_file.close()

100000 for idragons
200000 for idragons

In [117]:
dict_ids.keys()

dict_keys([])

In [118]:
groups_rap[1:]

['sayonaraboy', 'scriptonite', 'hauntedfamily', 'egorkreed']

In [119]:
url = 'https://api.vk.com/method/groups.getMembers?group_id={}&offset={}&access_token={}&v=5.81'

for group in groups_rap:
    new_items = 1
    offset = 0
    ids = set()

    while new_items:
        #print(url.format('asbspb', offset, token))
        try:
            #print(url.format(group, offset, token))
            items_list = requests.get(url.format(group, offset, token)).json()
            items_list = items_list['response']['items']
        except: 
            print('Exception', items_list)
            raise ValueError
        
        if items_list:
            #print(items_list, type(items_list))
            ids = ids | set(items_list)
            offset += 1000
        else:
            new_items = 0
        if offset%3000 == 0:
            time.sleep(2)
        if offset%100000 == 0:
            print(offset, 'for', group)
    
    dict_ids[group] = list(ids)

a_file = open("data_rap.json", "w")
json.dump(dict_ids, a_file)
a_file.close()

Exception {'error': {'error_code': 29, 'error_msg': 'Rate limit reached', 'request_params': [{'key': 'group_id', 'value': 'maxkorzh'}, {'key': 'offset', 'value': '0'}, {'key': 'v', 'value': '5.81'}, {'key': 'method', 'value': 'groups.getMembers'}, {'key': 'oauth', 'value': '1'}]}}

ValueError:

In [112]:
#len(ids)

1000000

In [113]:
#dict_ids['sayonaraboy'] = list(ids)

In [209]:
groups_electro[:1]

['martingarrix']

In [210]:
url = 'https://api.vk.com/method/groups.getMembers?group_id={}&offset={}&access_token={}&v=5.81'
#dict_ids = dict()

for group in groups_electro[:1]:
    new_items = 1
    offset = 0
    ids = set()

    while new_items:
        #print(url.format('asbspb', offset, token))
        items_list = requests.get(url.format(group, offset, token)).json()['response']['items']
        if items_list:
            #print(items_list, type(items_list))
            ids = ids | set(items_list)
            offset += 1000
        else:
            new_items = 0
        if offset%3000 == 0:
            time.sleep(1)
        if offset%100000 == 0:
            print(offset, 'for', group)
    
    dict_ids[group] = list(ids)

a_file = open("data_electro1.json", "w")
json.dump(dict_ids, a_file)
a_file.close()

100000 for martingarrix
200000 for martingarrix
300000 for martingarrix

In [211]:
dict_ids.keys()

dict_keys(['arminvanbuuren', 'tiesto', 'hardwell', 'davidguetta', 'martingarrix'])

# Collect data by ids

In [123]:
a_file = open("data_pop.json", "r")
output = a_file.read()
a_file.close()

In [128]:
print(type(output))
data_pop = json.loads(output)

<class 'str'>

In [185]:
len(data_pop[groups_pop[0]])

1532923

In [8]:
def get_profiles(user_id, access_token, fields = 'sex, bdate, has_photo, has_mobile, contacts, education, universities, schools, status, followers_count, occupation, relatives, relation, personal, connections, interests, music, movies, books, about, quotes, can_post, can_see_all_posts, can_see_audio, can_write_private_message, can_send_friend_request, friend_status, career, can_be_invited_group'):
    url = 'https://api.vk.com/method/users.get?user_ids={}&fields={}&access_token={}&v=5.81'
    #print(url.format(user_id, fields, access_token))
    json_response = requests.get(url.format(user_id, fields, access_token)).json()
    if json_response.get('error'):
        print(json_response.get('error'))
        print(json_response)
        raise ValueError
        return None
    return json_response['response']

In [190]:
#users_data = list()
offset = 1100000 

while offset < len(data_pop[groups_pop[0]]) - 1000:
    users_data += get_profiles(data_pop[groups_pop[0]][offset:offset+1000], token)
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[0])
    offset += 1000

1100000 for nataliaoreiro
1200000 for nataliaoreiro
1300000 for nataliaoreiro
1400000 for nataliaoreiro
1500000 for nataliaoreiro

In [191]:
len(users_data)

1535922

In [192]:
users_data_df = pd.DataFrame(users_data)

In [193]:
users_data_df

,first_name,id,last_name,sex,friend_status,bdate,has_photo,has_mobile,can_post,can_see_all_posts,...,education_form,education_status,facebook,facebook_name,relation_partner,skype,instagram,twitter,status_audio,livejournal
0,Denis,184549379,Koksharov,2,0,30.7.1991,1,1.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Subhash,490733577,Kumar,2,0,1.2.2004,1,1.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Татьяна,507510795,Борисова,2,0,9.5.2000,0,0.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Екатерина,532676624,Щекина,1,0,NaN,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Алик,524288019,Айрапетов,2,0,5.1.2005,1,0.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1535917,Наталья,541062759,Сергеевна,1,0,NaN,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535918,Надежда,536868464,Полуянова,1,0,NaN,0,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535919,Madina,440399473,Ahmedova,1,0,NaN,1,1.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535920,Сами,578811505,Султонов,2,0,24.3.2006,1,1.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535921,Lucinka,423622260,Doubnerová,1,0,24.8.2001,1,1.0,0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
users_data_df.to_csv('nataliaoreiro_data.csv')

Cleaning and filtering dataset

In [154]:
def check_text_exist(x):
    if x:
        if isinstance(x, float) and math.isnan(x):
            #print(x, '->', '0')
            return 0
        #print(x, '->', '1')
        return 1
    else:   
        #print(x, '->', '0')
        return 0

In [155]:
def nan_to_digit(x):
    if isinstance(x, float):
        if math.isnan(x):
            return 0
        return x + 1
    else:   
        print('weird x', x)
        return np.nan

In [156]:
def delete_new_lines(x):
    if isinstance(x, float):
        return x
    return x.replace('\n', ' ')

In [157]:
# change text to 0/1 features and delete unnecessary columns
df_clean =  users_data_df.drop(['first_name', 'last_name', 'friend_status', 'mobile_phone', 'home_phone', 'site', 'relation_partner', 'facebook_name'], axis = 1)
df_clean['schools'] = df_clean['schools'].apply(check_text_exist)
df_clean['career'] = df_clean['career'].apply(check_text_exist)
df_clean['relatives'] = df_clean['relatives'].apply(check_text_exist)
df_clean['occupation'] = df_clean['occupation'].apply(check_text_exist)
df_clean['instagram'] = df_clean['instagram'].apply(check_text_exist)
df_clean['skype'] = df_clean['skype'].apply(check_text_exist)
df_clean['twitter'] = df_clean['twitter'].apply(check_text_exist)
df_clean['facebook'] = df_clean['facebook'].apply(check_text_exist)
df_clean['universities'] = df_clean['universities'].apply(check_text_exist)
df_clean['relation'] = df_clean['relation'].apply(nan_to_digit)
df_clean = df_clean.loc[df_clean['deactivated'] != 'banned']
df_clean = df_clean.loc[df_clean['deactivated'] != 'deleted']
df_clean =  df_clean.drop(['deactivated'], axis = 1)
df_clean['can_be_invited_group'] = df_clean['can_be_invited_group'].apply(check_text_exist)

df_clean['interests'] = df_clean['interests'].apply(delete_new_lines)
df_clean['books'] = df_clean['books'].apply(delete_new_lines)
df_clean['tv'] = df_clean['tv'].apply(delete_new_lines)
df_clean['quotes'] = df_clean['quotes'].apply(delete_new_lines)
df_clean['about'] = df_clean['about'].apply(delete_new_lines)
df_clean['games'] = df_clean['games'].apply(delete_new_lines)
df_clean['movies'] = df_clean['movies'].apply(delete_new_lines)
df_clean['activities'] = df_clean['activities'].apply(delete_new_lines)

# временно 
df_clean =  df_clean.drop(['personal','graduation', 'education_status', 'education_form', 'faculty_name', 'faculty', 'university_name', 'university'], axis = 1)
df_clean = df_clean.reset_index(drop=True)
df_clean

,id,sex,has_photo,has_mobile,can_post,can_see_all_posts,can_see_audio,interests,books,tv,...,relation,universities,schools,relatives,facebook,skype,instagram,twitter,status_audio,livejournal
0,184549379,2,1,1.0,0,1.0,1.0,,,,...,1.0,1,0,0,0,0,0,0,NaN,NaN
1,490733577,2,1,1.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
2,507510795,2,0,0.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
3,524288019,2,1,0.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
4,499122196,1,0,0.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1284655,402650726,1,0,1.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
1284656,50329191,1,1,1.0,0,0.0,1.0,NaN,NaN,NaN,...,0.0,0,0,0,0,0,0,0,NaN,NaN
1284657,440399473,1,1,1.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
1284658,578811505,2,1,1.0,0,1.0,1.0,,,,...,1.0,0,0,0,0,0,0,0,NaN,NaN
1284659,423622260,1,1,1.0,0,1.0,1.0,,гарри поттер,,...,2.0,0,1,0,0,0,0,0,NaN,NaN

In [158]:
df_clean.describe()

,id,sex,has_photo,has_mobile,can_post,can_see_all_posts,can_see_audio,can_write_private_message,can_send_friend_request,can_be_invited_group,...,occupation,career,relation,universities,schools,relatives,facebook,skype,instagram,twitter
count,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,...,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06,1.284660e+06
mean,4.322070e+08,1.570119e+00,6.592943e-01,7.010828e-01,1.911790e-02,8.665118e-01,8.660595e-01,7.354428e-01,9.730045e-01,3.013404e-02,...,7.857955e-02,1.008127e-02,1.366819e+00,2.287843e-02,3.262965e-02,1.604860e-02,8.750175e-03,7.100711e-03,3.900643e-03,1.533480e-03
std,9.947974e+07,5.134613e-01,4.739467e-01,4.577837e-01,1.369395e-01,3.401018e-01,3.405885e-01,4.410973e-01,1.620702e-01,1.709562e-01,...,2.690815e-01,9.989816e-02,1.650109e+00,1.495160e-01,1.776653e-01,1.256625e-01,9.313225e-02,8.396605e-02,6.233323e-02,3.912965e-02
min,1.251000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.982926e+08,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,4.392075e+08,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,4.960650e+08,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,6.900615e+08,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,9.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

New artist data downloading

In [162]:
users_data = list()
offset = 0

while offset < len(data_pop[groups_pop[1]]) - 1000:
    users_data += get_profiles(data_pop[groups_pop[1]][offset:offset+1000], token)
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[1])
    offset += 1000

0 for shakira
100000 for shakira
200000 for shakira
300000 for shakira
400000 for shakira
500000 for shakira
600000 for shakira
700000 for shakira
800000 for shakira
900000 for shakira
1000000 for shakira

In [163]:
len(users_data)

1004986

In [164]:
users_data_df = pd.DataFrame(users_data)

In [165]:
users_data_df.to_csv('shakira_data.csv')

In [166]:
users_data = list()
offset = 0

while offset < len(data_pop[groups_pop[2]]) - 1000:
    users_data += get_profiles(data_pop[groups_pop[2]][offset:offset+1000], token)
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[2])
    offset += 1000

0 for enrique
100000 for enrique
200000 for enrique
300000 for enrique
400000 for enrique
500000 for enrique
600000 for enrique
700000 for enrique

In [167]:
len(users_data)

715566

In [169]:
users_data_df = pd.DataFrame(users_data)

In [170]:
users_data_df.to_csv('enrique_data.csv')

In [171]:
users_data = list()
offset = 0

while offset < len(data_pop[groups_pop[3]]) - 1000:
    users_data += get_profiles(data_pop[groups_pop[3]][offset:offset+1000], token)
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[3])
    offset += 1000

0 for inna_ro
100000 for inna_ro
200000 for inna_ro
300000 for inna_ro
400000 for inna_ro
500000 for inna_ro

In [172]:
len(users_data)

537922

In [173]:
users_data_df = pd.DataFrame(users_data)

In [174]:
users_data_df.to_csv('inna_ro_data.csv')

In [195]:
users_data = list()
offset = 0

while offset < len(data_pop[groups_pop[4]]) - 1000:
    users_data += get_profiles(data_pop[groups_pop[4]][offset:offset+1000], token)
    if offset%3000 == 0:
        time.sleep(1)
    if offset%100000 == 0:
        print(offset, 'for', groups_pop[4])
    offset += 1000

0 for krosskarina
100000 for krosskarina
200000 for krosskarina
300000 for krosskarina
400000 for krosskarina

In [196]:
len(users_data)

496006

In [197]:
users_data_df = pd.DataFrame(users_data)

In [198]:
users_data_df.to_csv('krosskarina_data.csv')

The same but for rock

In [175]:
a_file = open("data_rock.json", "r")
output = a_file.read()
a_file.close()

In [176]:
print(type(output))
data_rock = json.loads(output)

<class 'str'>

In [180]:
data_rock.keys()

dict_keys(['linkinpark', 'nervyofficial', 'korol_i_shut_ru', 'nirvanamusic', 'idragons'])

In [184]:
for group_name in data_rock.keys():
    users_data = list()
    offset = 0

    while offset < len(data_rock[group_name]) - 1000:
        users_data += get_profiles(data_rock[group_name][offset:offset+1000], token)
        if offset%3000 == 0:
            time.sleep(1)
        if (offset%100000 == 0) or (offset == 10000):
            print(offset, 'for', group_name)
        offset += 1000
    
    print('finished', group_name)
    users_data_df = pd.DataFrame(users_data)
    users_data_df.to_csv(group_name + '_data.csv')

0 for linkinpark
10000 for linkinpark
100000 for linkinpark
200000 for linkinpark
300000 for linkinpark
400000 for linkinpark
500000 for linkinpark
600000 for linkinpark
700000 for linkinpark
800000 for linkinpark
900000 for linkinpark
1000000 for linkinpark
1100000 for linkinpark
1200000 for linkinpark
1300000 for linkinpark
1400000 for linkinpark
1500000 for linkinpark
1600000 for linkinpark
1700000 for linkinpark
1800000 for linkinpark
finished linkinpark
0 for nervyofficial
10000 for nervyofficial
100000 for nervyofficial
200000 for nervyofficial
300000 for nervyofficial
400000 for nervyofficial
finished nervyofficial
0 for korol_i_shut_ru
10000 for korol_i_shut_ru
100000 for korol_i_shut_ru
200000 for korol_i_shut_ru
finished korol_i_shut_ru
0 for nirvanamusic
10000 for nirvanamusic
100000 for nirvanamusic
200000 for nirvanamusic
finished nirvanamusic
0 for idragons
10000 for idragons
100000 for idragons
200000 for idragons
finished idragons

electro music

In [212]:
a_file = open("data_electro.json", "r")
output = a_file.read()
a_file.close()

In [213]:
print(type(output))
data_electro = json.loads(output)

<class 'str'>

In [215]:
for group_name in data_electro.keys():
    users_data = list()
    offset = 0

    while offset < len(data_electro[group_name]) - 1000:
        users_data += get_profiles(data_electro[group_name][offset:offset+1000], token)
        if offset%3000 == 0:
            time.sleep(1)
        if (offset%100000 == 0) or (offset == 10000):
            print(offset, 'for', group_name)
        offset += 1000
    
    print('finished', group_name)
    users_data_df = pd.DataFrame(users_data)
    users_data_df.to_csv(group_name + '_data.csv')

0 for arminvanbuuren
10000 for arminvanbuuren
100000 for arminvanbuuren
200000 for arminvanbuuren
300000 for arminvanbuuren
400000 for arminvanbuuren
500000 for arminvanbuuren
600000 for arminvanbuuren
700000 for arminvanbuuren
800000 for arminvanbuuren
900000 for arminvanbuuren
1000000 for arminvanbuuren
1100000 for arminvanbuuren
1200000 for arminvanbuuren
1300000 for arminvanbuuren
finished arminvanbuuren
0 for tiesto
10000 for tiesto
100000 for tiesto
200000 for tiesto
300000 for tiesto
400000 for tiesto
500000 for tiesto
600000 for tiesto
finished tiesto
0 for hardwell
10000 for hardwell
100000 for hardwell
200000 for hardwell
300000 for hardwell
400000 for hardwell
500000 for hardwell
600000 for hardwell
finished hardwell
0 for davidguetta
10000 for davidguetta
100000 for davidguetta
200000 for davidguetta
300000 for davidguetta
finished davidguetta
0 for martingarrix
10000 for martingarrix
100000 for martingarrix
200000 for martingarrix
300000 for martingarrix
finished martingarrix

rap music

In [1]:
a_file = open("data_rap.json", "r")
output = a_file.read()
a_file.close()

In [6]:
print(type(output))
data_electro = json.loads(output)

<class 'str'>

In [11]:
for group_name in data_electro.keys():
    users_data = list()
    offset = 0

    while offset < len(data_electro[group_name]) - 1000:
        users_data += get_profiles(data_electro[group_name][offset:offset+1000], token)
        if offset%3000 == 0:
            time.sleep(1)
        if (offset%100000 == 0) or (offset == 10000):
            print(offset, 'for', group_name)
        offset += 1000
    
    print('finished', group_name)
    users_data_df = pd.DataFrame(users_data)
    users_data_df.to_csv(group_name + '_data.csv')

0 for maxkorzh
10000 for maxkorzh
100000 for maxkorzh
200000 for maxkorzh
300000 for maxkorzh
400000 for maxkorzh
500000 for maxkorzh
600000 for maxkorzh
700000 for maxkorzh
800000 for maxkorzh
900000 for maxkorzh
1000000 for maxkorzh
1100000 for maxkorzh
1200000 for maxkorzh
1300000 for maxkorzh
1400000 for maxkorzh
1500000 for maxkorzh
1600000 for maxkorzh
finished maxkorzh
0 for sayonaraboy
10000 for sayonaraboy
100000 for sayonaraboy
200000 for sayonaraboy
300000 for sayonaraboy
400000 for sayonaraboy
500000 for sayonaraboy
600000 for sayonaraboy
700000 for sayonaraboy
800000 for sayonaraboy
900000 for sayonaraboy
1000000 for sayonaraboy
1100000 for sayonaraboy
1200000 for sayonaraboy
1300000 for sayonaraboy
1400000 for sayonaraboy
1500000 for sayonaraboy
finished sayonaraboy
0 for scriptonite
10000 for scriptonite
100000 for scriptonite
200000 for scriptonite
300000 for scriptonite
400000 for scriptonite
500000 for scriptonite
600000 for scriptonite
700000 for scriptonite
800000 for scriptonite
900000 for scriptonite
1000000 for scriptonite
1100000 for scriptonite
1200000 for scriptonite
1300000 for scriptonite
1400000 for scriptonite
1500000 for scriptonite
finished scriptonite
0 for hauntedfamily
10000 for hauntedfamily
100000 for hauntedfamily
200000 for hauntedfamily
300000 for hauntedfamily
400000 for hauntedfamily
500000 for hauntedfamily
600000 for hauntedfamily
700000 for hauntedfamily
800000 for hauntedfamily
900000 for hauntedfamily
1000000 for hauntedfamily
1100000 for hauntedfamily
1200000 for hauntedfamily
1300000 for hauntedfamily
finished hauntedfamily
0 for egorkreed
10000 for egorkreed
100000 for egorkreed
200000 for egorkreed
300000 for egorkreed
400000 for egorkreed
500000 for egorkreed
600000 for egorkreed
700000 for egorkreed
800000 for egorkreed
900000 for egorkreed
1000000 for egorkreed
1100000 for egorkreed
1200000 for egorkreed
1300000 for egorkreed
finished egorkreed